.inputTask4 {
  width: 30%;
  margin-left: 20%;
}
.btnTask4 {
  padding: 6px 10px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 15px;
}
.task4 {
  margin-bottom: 10%;
}
.ulTask4 {
  margin-left: 20%;
  width: 20%;
  list-style: none;
}
.liTask4 {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.btnCross4{
    float: right;
    background-color: white;
    border: none;
    cursor: pointer;
    color: red;
    font-size: larger;
}